<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let columnaActual of columnas" scope="col">
                    {{columnaActual}}
                </th>
            </tr>
               
        </thead>
        <tbody>
            <tr *ngFor="let usuarioActual of misUsuarios" >
                <td scope="col">{{usuarioActual.id}}</td>
                <td scope="col">{{usuarioActual.nombre}}</td>
                <td scope="col">{{usuarioActual.correo}}</td>
                <td scope="col">{{usuarioActual.rol?.nombre}}</td>
                <td scope="col">
                <button class="btn btn-success" (click)="actualizar(usuarioActual.id)">Editar</button>
                    <button class="btn btn-danger" (click)="eliminar(usuarioActual.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
