<div class="container">
    <div class="row">
      <h1 *ngIf="modoCreacion">Crear Programacion</h1>
      <h1 *ngIf="!modoCreacion">Actualizar Programacion</h1>
    </div>
    <div class="row">
        <div class="col-3">
          <label>Nombre</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" [(ngModel)]="elEvento.nombre" />
        </div>
      </div>
    <div class="row">
      <div class="col-3">
        <label>Descripcion</label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" [(ngModel)]="elEvento.descripcion" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <label>Fecha</label>
      </div>
      <div class="col-9">
        <input type="date" class="form-control" [(ngModel)]="elEvento.fecha" />
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label>ID categoria</label>
      </div>
      <div class="col-9">
        <input type="number" class="form-control" [(ngModel)]="elEvento.id_categoria" />
      </div>
    </div>
    <div class="row">
        <div class="col-3">
          <label>ID sitio</label>
        </div>
        <div class="col-9">
          <input type="number" class="form-control" [(ngModel)]="elEvento.id_sitio" />
        </div>
      </div>
    <br>
    <div class="row">
      <button *ngIf="modoCreacion" class="btn btn-primary btn-block" (click)="crear()"> Crear</button>
      <button *ngIf="!modoCreacion" class="btn btn-success btn-block" (click)="actualizar()"> Actualizar</button>
    </div>
  </div>
  